main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-input {
  display: flex;
  gap: 5px;
  align-items: center;
}

.date-input span {
  width: 16px;
  height: 15px;
  text-align: center;
  cursor: pointer;
}

.date-map {
  border: 1px solid black;
  width: 250px;
  height: 175px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.title span {
  margin: 0 5px;
}

.dayOfWeek {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.daysFirstRow {
  position: absolute;
  top: 95px;
  left: 850px;
}

.daysFirstRow > span,
.daysSecondRow > span {
  display: inline-block;
  margin-right: 24px;
}

.daysThirdRow > span,
.daysFourthRow > span,
.daysFifthRow > span {
  display: inline-block;
  margin-right: 15px;
}

.daysSecondRow {
  position: absolute;
  top: 120px;
  left: 850px;
}

.daysSecondRow > span:last-child {
  margin-left: -5px;
}

.daysThirdRow {
  position: absolute;
  top: 145px;
  left: 850px;
}

.daysFourthRow {
  position: absolute;
  top: 170px;
  left: 850px;
}

.daysFifthRow {
  position: absolute;
  top: 195px;
  left: 850px;
}
